*{
box-sizing: border-box;
}
body{
    background-color: rgb(148, 195, 237);
color:rgb(55, 17, 17);
font-family:'Courier New', Courier, monospace;
}
.navbar{
    display:flex;
align-items: center;
justify-content: space-between;
background-color: rgb(9, 51, 18);
color:aliceblue;
box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.nav-brand{}
.nav-links{
    display:flex;
    gap:24px;
    list-style-type:none;
}